* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
  color: rgb(40, 40, 40);
}
body{
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width:0px;
}
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 20%;
  min-height: 8vh;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}
nav,
a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}
.nav-links a,
.nav-links button {
  margin-left: 2rem;
}
.logo {
  font-size: 1rem;
  font-weight: bold;
}
.buy-button {
  padding: 0.2rem 2rem;
  font-size: 0.6rem;
  color: white;
  background: #3056f5;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/*First Page*/
.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 10rem;
}
.first-page-title {
  font-size: 1.5rem;
}
.first-page-subtitle {
  font-size: 3rem;
}

.intro-video {
  position: absolute;
}

/* Second Page */
.second-page {
  min-height: 125vh;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.smoke-video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}
.second-text {
  padding: 5% 30%;
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
  z-index: 2;
}
/* Third Page Phone Split*/
.third-page {
  position: relative;
  padding: 0% 20%;
}

.product-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: white;
}
.phone-size {
  font-size: 2rem;
  font-weight: bold;
}
.pro-size {
  text-align: right;
}
.max-size {
  text-align: left;
}
.product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.large-phone {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
}
.small-phone {
  position: relative;
  z-index: 2;
  transform: translateX(-40%) scale(0.8);
}
.retina-line {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-size: 0.8rem;
  font-weight: bold;
}

/* 4th Page Slider */
.forth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}
.purchase-left {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: white;
  flex: 1;
}
.phone-gallery {
  display: flex;
  align-self: flex-start;
}
.phone-gallery img {
  transform: scale(0.8);
}
.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swatch-container {
  text-align: center;
}
.swatch-container span {
  font-size: 0.8rem;
}
.swatches img {
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}
/* Purchase right */
.purchase-right {
  flex: 1;
  position: relative;
  background: black;
}
.purchase-right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(0.8);
  transform-origin: bottom;
}

/* 5th Page */
.fifth-page {
  min-height: 100vh;
}
.product-video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.product-info-container {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0% 10rem;
}
.right-info,
.left-info {
  width: 20%;
}
.left-info h3,
.right-info h3 {
  padding: 3rem 0rem;
  color: rgb(193, 193, 193);
}
.left-info span,
.right-info span {
  font-size: 1.5rem;
  color: rgb(210, 210, 210);
}
.blue {
  z-index: 1;
}

/*  Sixth page */
.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  justify-content: space-between;
  position: relative;
  display: flex;
}
.portrait {
  height: 70vh;
}
.photo-title {
  font-size: 2rem;
}
.photo-subtitle {
  font-size: 4rem;
}
.phone-video {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 2;
  transform: translate(-40%, 0%);
}
.phone-video img,
.phone-video video {
  position: absolute;
}
.phone-video img {
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: scale(0.8);
}
.phone-video video {
  left: 1rem;
  bottom: 1rem;
  transform: scale(0.82);
  border-radius: 2rem;
}
