* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(260deg, #6a9eec, #65c0d3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container{
    background: white;
    color: black;
    padding:5rem;
    border-radius: 2rem;
}
.home,.notifications,.messages{
    display: flex;
    padding:2rem;
    align-items: center;
}
.home-title,.notification-title,.message-title{
    padding-left:2rem;

}
.notification-svg,.messages-svg{
    overflow:visible;
}