*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
button{
    padding:1rem 2rem;
    font-size:1.5rem;
    border:none;
    color:white;
    background: rgb(40,40,40);
    transition: background 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover{
    background: rgb(137, 59, 137);
}
nav{
    min-height: 10vh;
    background: rgb(40,40,40);
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    transition: all 1s ease-out;
}
.nav-slide{
    transform: translateY(-100%);
}
p{
    opacity: 1;
    transition: all .5s ease-out 0.5s;
}
.fade{
    opacity: 0;
}